<%- model_class = Ubicacion -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'Nueva %{model}'], :model => Ubicacion %></h1>
</div>
<%= render :partial => 'form' %>

