<%- model_class = Comentario -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Editar %{model}'], :model => Comentario %></h1>
</div>
<%= render :partial => 'form' %>
